@font-face {
    font-family: 'Gilroy-ExtraBold';
    src:	url('./fonts/Gilroy-ExtraBold.eot');
    src:	url('./fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('./fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: bold;
}


.bb-wrapper {
    position: relative;
    width: 910px;
    min-width: 910px;
    height: 587px;
    background: #82d0f5; /* Old browsers */
    background: -moz-linear-gradient(top, #82d0f5 0%, #c7d8e2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #82d0f5 0%,#c7d8e2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #82d0f5 0%,#c7d8e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: 0 auto;
    padding: 0 14px;
    overflow: hidden;
    cursor: url("../i/cursor.cur"), crosshair;
}

.bb-countdown,
.bb-title {
    font: italic bold 30px/40px 'Gilroy-ExtraBold', "Arial Black", Helvetica;
    margin: 40px 0 0 22px;
    position: absolute;
}

.bb-footer {
    width: auto;
    height: 136px;
    position: absolute;
    bottom: 0;
    margin: 0 -14px;
    padding: 0 14px;
    background: url("../i/snow.png") no-repeat 0 0;
}

.bb-legend {
    display: block;
    margin: 40px 0 0;
    padding: 0;
    overflow: hidden;
}

.bb-legend-item {
    display: block;
    float: left;
    width: 79px;
    margin: 0 6px;
    font: bold 10px/12px Arial, Helvetica;
    text-align: center;
}

.bb-balloons {
    display: block;
    position: relative;
    top: 320px;
    margin: 0;
    padding: 0;
    overflow: visible;
    list-style: none;
}

.bb-balloons.results {
    top: 250px;
    display: block !important;
}

.bb-balloon-item {
    display: block;
    float: left;
    width: 79px;
    height: 285px;
    margin: 0 6px;
    text-align: center;
    background: url("../i/string.png") no-repeat center bottom;
}

.bb-balloon-item.empty {
    background: none;
}


.bb-balloon-item.tall {
    background: url("../i/tallString.png") no-repeat center bottom;
    height: 475px;
    position: relative;
}


.bb-boom {
    height: 105px;
}

.bb-balloon {
    height: 105px;
    background-image: url("../i/balloons.png");
    font: italic bold 30px/100px 'Gilroy-ExtraBold', "Arial Black", Helvetica;
}

.bb-balloon-percents {
    font: normal bold 40px/60px 'Gilroy-ExtraBold', "Arial Black", Helvetica;
}

.bb-balloon-percents.bb-balloon-percents-1 {
    color: #ed1c24;
}
.bb-balloon-percents.bb-balloon-percents-2 {
    color: #ea9909;
}
.bb-balloon-percents.bb-balloon-percents-3 {
    color: #f4d400;
}
.bb-balloon-percents.bb-balloon-percents-4 {
    color: #40ab3f;
}
.bb-balloon-percents.bb-balloon-percents-5 {
    color: #1e78dd;
}
.bb-balloon-percents.bb-balloon-percents-6 {
    color: #554bc2;
}
.bb-balloon-percents.bb-balloon-percents-7 {
    color: #8d4f9b;
}
.bb-balloon-percents.bb-balloon-percents-8 {
    color: #12ad7b;
}
.bb-balloon-percents.bb-balloon-percents-9 {
    color: #84b102;
}
.bb-balloon-percents.bb-balloon-percents-10 {
    color: #be189b;
}

.bb-balloon.bb-balloon-10 {
    background-position: 0 0;
}

.bb-balloon.bb-balloon-9 {
    background-position: -80px 0;
}

.bb-balloon.bb-balloon-8 {
    background-position: -160px 0;
}
.bb-balloon.bb-balloon-7 {
    background-position: -240px 0;
}
.bb-balloon.bb-balloon-6 {
    background-position: -320px 0;
}
.bb-balloon.bb-balloon-5 {
    background-position: -400px 0;
}
.bb-balloon.bb-balloon-4 {
    background-position: -480px 0;
}
.bb-balloon.bb-balloon-3 {
    background-position: -559px 0;
}
.bb-balloon.bb-balloon-2 {
    background-position: -638px 0;
}
.bb-balloon.bb-balloon-1 {
    background-position: -717px 0;
}

.bb-balloon-item.target:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}

.animated.extrafaster {
     -webkit-animation-duration: 250ms;
     animation-duration: 250ms;
}

.animated.extraslow {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.bb-boom {
    height: 92px;
    width: 78px;
}


@-webkit-keyframes booom {
    from {
        background: url("../i/boomSmall.png") no-repeat 0 0;
    }
    to {
        background: none;
    }

    0%, 10% {
        background: url("../i/boomSmall.png") no-repeat -80px 0;
    }
    10.1%, 20% {
        background: url("../i/boomSmall.png") no-repeat -160px 0;
    }
    20.1%, 30% {
        background: url("../i/boomSmall.png") no-repeat -240px 0;
    }
    40.1%, 50% {
        background: url("../i/boomSmall.png") no-repeat -320px 0;
    }
    50.1%, 70%{
        background: url("../i/boomSmall.png") no-repeat -400px 0;
    }
    70.1%, 80%{
        background: url("../i/boomSmall.png") no-repeat -480px 0;
    }
    80.1%, 90%{
        background: url("../i/boomSmall.png") no-repeat -560px 0;
    }
    90.1%, 100% {
        background: none;
    }
}

@keyframes booom {
    from {
        background: url("../i/boomSmall.png") no-repeat 0 0;
    }
    to {
        background: none;
    }

    0%, 10% {
        background: url("../i/boomSmall.png") no-repeat -80px 0;
    }
    10.1%, 20% {
        background: url("../i/boomSmall.png") no-repeat -160px 0;
    }
    20.1%, 30% {
        background: url("../i/boomSmall.png") no-repeat -240px 0;
    }
    40.1%, 50% {
        background: url("../i/boomSmall.png") no-repeat -320px 0;
    }
    50.1%, 70%{
        background: url("../i/boomSmall.png") no-repeat -400px 0;
    }
    70.1%, 80%{
        background: url("../i/boomSmall.png") no-repeat -480px 0;
    }
    80.1%, 90%{
        background: url("../i/boomSmall.png") no-repeat -560px 0;
    }
    90.1%, 100% {
        background: none;
    }
}

.booom {
    -webkit-animation-name: booom;
    animation-name: booom;
}